<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <!-- Section: Social media and Email Subscription -->
  <section class="d-flex flex-column flex-lg-row justify-content-between p-4 border-bottom">
    <!-- Left: Email Subscription Text -->
    <div class="me-0 me-lg-5">
      <div class="d-flex align-items-center">
        <p></p> 
        <div class="input-group">

        </div>
      </div>
    </div>
    <!-- Left: Email Subscription Text and Input -->

    <!-- Right: Social Media Icons -->
    <div class="mt-4 mt-lg-0">
      <span class="hidden md:block">Conheça nossas redes sociais: </span>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right: Social Media Icons -->
  </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>TechNews
            </h6>
            <p>
              Trazendo as melhores noticias sobre tecnologia com atualizações diárias.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Frameworks
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links Úteis
            </h6>
            <p>
              <a href="#!" class="text-reset">Programa(ação)</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Engenharia na Pratica</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ciencia de Dados</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Interface Web</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> João Pessoa, PB 58015130, BR</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              TechNewss@notices.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> +55 83 98147-6886</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> +55 83 98556-9789</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">TechNews</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->