
<div class="grid grid-cols-2 w-9/12 mx-auto mt-32">
  <div class="row-span-2 col-span-2 items-center inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/EA.webp" alt="EAFC" class="w-full h-full rounded-md shadow-md">
   <div class="w-full m-auto bg-black bg-opacity-50 bottom-0 h-1/6 absolute">
    <p class="font-bold max-w-[70%] absolute text-white left-4 text-3xl font-sans text-left">EA Sports FC vai ganhar um jogo tático para dispositivos mobile.</p>
  </div>
  </div>
  
  <div class="col-span-1 row-span-1 inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/RADEON.webp" alt="RADEON" class="w-full rounded-md shadow-md drop-shadow-md">

    <div class="w-full m-auto bg-black bg-opacity-50 bottom-0 h-1/4 absolute">
      <p class="font-bold text-white left-4 top-2 absolute font-sans text-2xl text-left w-full">Drivers para placas de vídeo AMD Software Adrenalin 23.10.1 WHQL é lançado</p>
      <span  class=" absolut bottom-8 left-4">    </span>
    </div>
  </div>
  

  <div class="col-span-1 row-span-1 items-center inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/GTA.webp" alt="GTA6" class="w-full rounded-md shadow-md ">
    
    <div class="w-full m-auto bg-black bg-opacity-50 h-1/4 bottom-0 absolute">
      <p class="font-bold text-white left-4 top-2 absolute font-sans text-2xl text-left w-full">GTA 6 recebe classificação oficial na Austrália</p>
      <span  class=" absolut bottom-8 left-4">    </span>
    </div>
    
  </div>
</div>

<app-cards></app-cards>


```
<nav aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-base h-10 justify-center w-full">
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-4">Previous</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-700 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-600 dark:border-gray-700 dark:bg-blue-700 dark:text-white">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-400">2</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-400">3</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-400">4</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-400">5</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-black dark:hover:bg-gray-700 dark:hover:text-gray-400">Next</a>
    </li>
  </ul>
</nav>
```
