
<div class="grid grid-cols-2 w-9/12 mx-auto mt-32">
  <!-- Cada notícia -->
  <div class="row-span-2 col-span-2 items-center inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/EA.webp" alt="EAFC" class="w-full h-full rounded-md shadow-md">
   <div class="w-full m-auto bg-black bg-opacity-50 bottom-0 h-1/6 absolute">
    <p class="font-bold max-w-[70%] absolute text-white left-4 text-3xl font-sans text-left">EA Sports FC vai ganhar um jogo tático para dispositivos mobile.</p>
  </div>
  </div>
  
  <div class="col-span-1 row-span-1 inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/RADEON.webp" alt="RADEON" class="w-full rounded-md shadow-md drop-shadow-md">

    <div class="w-full m-auto bg-black bg-opacity-50 bottom-0 h-1/4 absolute">
      <p class="font-bold text-white left-4 top-2 absolute font-sans text-2xl text-left w-full">Drivers para placas de vídeo AMD Software Adrenalin 23.10.1 WHQL é lançado</p>
      <span  class=" absolut bottom-8 left-4">    </span>
    </div>
  </div>
  

  <div class="col-span-1 row-span-1 items-center inline-block relative overflow-hidden rounded-md">
    <img src="assets/imagens/GTA.webp" alt="GTA6" class="w-full rounded-md shadow-md ">
    
    <div class="w-full m-auto bg-black bg-opacity-50 h-1/4 bottom-0 absolute">
      <p class="font-bold text-white left-4 top-2 absolute font-sans text-2xl text-left w-full">GTA 6 recebe classificação oficial na Austrália</p>
      <span  class=" absolut bottom-8 left-4">    </span>
    </div>
    
  </div>
</div>

  <div class="flex justify-center font-bold flex-row">
    <div class="w-1/4 p-4">
      <h2 class="text-center">Filtrar por Categoria</h2>
      <div class="space-x-4">
        <label class="inline-flex items-center">
          <input type="radio" class="form-radio" name="categoria" value="programacao">
          <span class="ml-2">Programação</span>
        </label>
        <label class="inline-flex items-center">
          <input type="radio" class="form-radio" name="categoria" value="games">
          <span class="ml-2">Games</span>
        </label>
        <label class="inline-flex items-center">
          <input type="radio" class="form-radio" name="categoria" value="hardware">
          <span class="ml-2">Hardware</span>
        </label>
        <label class="inline-flex items-center">
          <input type="radio" class="form-radio" name="categoria" value="software">
          <span class="ml-2">Software</span>
        </label>
      </div>
    </div>
  </div>

<app-cards></app-cards>